* {
    background-color: #9d9b9b;
    font-family: Verdana;
}

.container-cabecalho {
    background-color: #a1f7db86;
    width: 80%;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
}

a:hover {
    background-color: rgba(197, 195, 195, 0.537);
    padding: 5px;
    border-radius: 6px;
}